<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
    <title>Elliot on Demand</title>
  </head>
  <body>
    <%- include('./partials/_nav'); %>
    <div class="container mt-2">
      <header>
        <h5 id="now_playing"></h5>
      </header>
      <audio id="audioplayer" controls autoplay>
        <source src="" type="audio/wav">
      </audio>
      <p>New episodes every day! Here's what we have on tap 🍺:</p>
      <div class="list-group">
        <% episodes.forEach((item) => { %>
          <button 
            class="episodeName list-group-item list-group-item-action"
            title="<%= item.title %>"
            fileName="<%= item.fileName %>"
            type="button"
            id="<%= item.fileName %>">
            <%= item.title %>
          </button>
        <% }) %>
      </div>
      <footer>
        Created by
        <a target="_blank" href="https://github.com/ethan-massey">Ethan</a>
      </footer>
    </div>
    <script src="../js/episodeProgressFunctions.js" type="text/javascript"></script>
    <script>
      // inital setup
      setupLocalStorage(<%-JSON.stringify(episodes)%>)

      // add event listeners
      var player = document.getElementById("audioplayer");
      player.addEventListener("ended", function(){
        setCurrentEpisodeStatus("Finished")
      });

      player.addEventListener("play", function(){
        setCurrentEpisodeStatus("In progress")
      });

      // Save episode position if tab or browser closed
      window.addEventListener("beforeunload", saveCurrentEpisodePosition);
      window.addEventListener("pagehide", saveCurrentEpisodePosition);
      player.addEventListener("timeupdate", saveCurrentEpisodePosition);

      // add event listener to each episode button to change what is loaded in player
      // Also, add progress badge to each button
      var episodeButtons = document.getElementsByClassName("episodeName")
      for(var i = 0; i < episodeButtons.length; i++) {
        episodeButtons[i].addEventListener("click", changeCurrentEpisode, false);
        updateStatusBadge(episodeButtons[i].getAttribute('fileName'))
      }
    </script>
  </body>
</html>
