<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/globals.css">
    <title>Elliot on Demand</title>
  </head>
  <body>
    <%- include('./partials/_nav'); %>
    <h4 class="text-center m-3 p-3 bg-light text-dark">New episodes every day! Here's what we have on tap 🍺:</h4>
    <div class="container mt-2">
      <div class="container px-4 mb-4">
        <div class="row gx-5">
          <div class="col mt-2">
            <header>
              <div id="now_playing"></div>
            </header>
            <audio id="audioplayer" class="mt-2 mb-2" controls autoplay>
              <source src="" type="audio/wav">
            </audio>
            <div class="list-group overflow-auto" style="max-height: 90vh;">
              <% episodes.forEach((item) => { %>
                <button 
                  class="episodeName list-group-item list-group-item-action"
                  title="<%= item.title %>"
                  fileName="<%= item.fileName %>"
                  type="button"
                  id="<%= item.fileName %>"
                  >
                  <%= item.title %>
                  <span id="<%= item.fileName %>-progress-badge"></span>
                </button>
              <% }) %>
            </div>
          </div>
          <div class="col mt-2">
            <div class="overflow-auto p-4 bg-light" 
              style="max-height: 90vh; max-width: 30em;">
                <a class="twitter-timeline" data-theme="light" href="https://twitter.com/EITMonline?ref_src=twsrc%5Etfw">Tweets by EITMonline</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="pt-4 bg-light" style="max-width: 30em;"></div>
          </div>
        </div>
      </div>
      <footer>
        Created by
        <a target="_blank" href="https://github.com/ethan-massey">Ethan</a>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="../js/episodeProgressFunctions.js" type="text/javascript"></script>
    <script>
      // inital setup
      setupLocalStorage(<%-JSON.stringify(episodes)%>)

      // add event listeners
      var player = document.getElementById("audioplayer");
      player.addEventListener("ended", function(){
        setCurrentEpisodeStatus("Finished")
      });

      player.addEventListener("play", function(){
        setCurrentEpisodeStatus("In progress")
      });

      // Save episode position if tab or browser closed
      window.addEventListener("beforeunload", saveCurrentEpisodePosition);
      window.addEventListener("pagehide", saveCurrentEpisodePosition);
      player.addEventListener("timeupdate", saveCurrentEpisodePosition);

      // add event listener to each episode button to change what is loaded in player
      // Also, add progress badge to each button
      var episodeButtons = document.getElementsByClassName("episodeName")
      for(var i = 0; i < episodeButtons.length; i++) {
        episodeButtons[i].addEventListener("click", changeEpisode, false);
        updateStatusBadge(episodeButtons[i].getAttribute('fileName'))
      }

      // If episode in URL, play that episode
      const episodeQueued = <%- episodeQueued !== undefined ? JSON.stringify(episodeQueued) : 'undefined' %>;
      if (episodeQueued !== undefined) {
        episodeButton = document.getElementById(episodeQueued.fileName);
        episodeButton.click();
      }
    </script>
  </body>
</html>
